*{
    background: #000;
    color: #fff;
}
#myclass{
    text-align: center;
    height: 160px;
    color: rgb(111, 76, 207);
    width: 100%;
    font-size: 100px;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    align-content: center;
}
#search{
    text-align: center;
     height: 29px;
    color: rgb(185, 173, 173);
    width: 60%;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    align-content: center;
    background-color: #fff;
    border-radius: 1rem;
    margin-left: 20%;
}
.apps{
    color: aliceblue;
  margin-top: 5%;
  /* border-radius:70%; */
    display: flex;
    flex-direction: row;
   justify-content: space-evenly;
    padding-left: 20px;

}
#youtube{
  background-color: red;
   border-radius:40%;
   height: 30px;
   
    text-align: center;
   font-size: 0.8rem;
  padding-top: 1rem;
}
#linkedin{
  background-color: rgb(231, 231, 241);
   border-radius:40%;
   height: 30px;
   color: blue;
    text-align: center;
   font-size: 0.8rem;
  padding-top: 1rem;
}
#whatsapp{
  background-color: rgb(233, 243, 231);
   border-radius:40%;
   height: 30px;
  color: green;
    text-align: center;
   font-size: 0.8rem;
  padding-top: 1rem;
}
#instagram{
  background-color: rgb(241, 233, 239);
   border-radius:40%;
   height: 30px;
   color: rgb(243, 76, 132);
   text-align: center;
   font-size: 0.8rem;
  padding-top: 1rem;
}
#shop{
  background: #b5b80f;
  color: rgb(194, 173, 173);
}
ul{
  color: yellowgreen;
}
.box{
  height: 50px;
  width: 300px;
  border: 1px solid #d6c9c9;
  margin: 1%;
  text-align: center;
  background-color: #4aac3d;
  color: rgb(68, 9, 29);
  align-content: center;
  border-radius: 1rem;
}

.para{
  background-color: #d3bcbc;
  color: #9c1313;
}
.newpara{
  background-color: #532727;
  color: #b0d330;
}

#mode{
  border-color: #202702;
  color: #532727;
  background-color: #baeb09;
}

.dark{
  background-color: black;
}
.light{
  background-color: #fff;
}